.nav {
  display: flex;
  gap: 20px;
  padding: 1rem;
  background-color: #333;
}
.link {
  color: white;
  text-decoration: none;
}
.link.active {
  font-weight: bold;
  text-decoration: underline;
}
